doctype html(lang='en')
html

  include ./pageheader.jade

  h4 The page for sellers to submit items

    .part-two
      .row
        .col-md-2.dk-blue.bottom-height
        .col-md-8.white.bottom-height-form
          .content-here
            .entering-data
              form#merchSubmitForm(method='POST', action='/merchy')
                input#hidden(type='hidden', name='db_id', value="#{merch._id}")
                .formfield Title
                  input#title(type='text', name='title', value='#{merch.title}')
                .formfield Size
                  input#size(type='text', name='size', value='#{merch.size}')
                .formfield Price
                  input#price(type='text', name='price', value='#{merch.price}')
                .formfield End Date
                  input#endDate(type='text', name='endDate', value='#{merch.endDate}')
                input.submitButton(type='submit')
        .col-md-2.dk-blue.bottom-height


  include ./pagefooter.jade
