doctype html(lang='en')
head

  include ./pageheader.jade

  h4 The page for seller list data
  each merch in merching
    ul(id="#{'merch_'+merch._id}")
      li #{merch.title}
      li #{merch.price}
      li #{merch.size}
      li #{merch.endDate}
